html {
	background-image: url(../images/background.jpg);
 	height: 100%;
 	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.timer-heading, .timer {
	position: absolute;
	top: 22%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	display: flex;
  	align-items: center;
	justify-content: center;
	font-size: calc(1.7vw + 2vh + 1.3vmin + 1vmax);
}


.timer {
	top: 50%;
}